@tailwind base;
@tailwind components;
@tailwind utilities;

.audience{
  background: url(./assets/img/audience.webp) no-repeat;
  width: 900px;
  height: 526px;
  background-size: cover;
  margin: auto;
  position: relative;
}
.question_block{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
}
button.block{
  background: #f32645;
  transition: all .25s ease-in-out;
  color: #fff;
}
button.block:hover{
  opacity: .8;
  transition: all .25s ease-in-out;
}