@import "./index.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Favorit Pro";
    font-weight: 350;
    line-height: 1.1;
    font-style: normal;
}
@font-face {
    font-family: "Favorit Pro";
    src: url("../fonts/FavoritPro/FavoritPro-Regular.otf") format("OpenType");
}
@font-face {
    font-family: "Favorit Pro";
    src: url("../fonts/FavoritPro/FavoritPro-Bold.otf") format("OpenType");
    font-weight: bold;
}
.audience {
    padding: 50px 0;
    @media screen and (min-width: 891px) {
        height: 100%;
    }
    @media screen and (max-width: 1200px) {
        padding: 0;
    }
    @media screen and (max-width: 890px) {
        padding-bottom: 10px;
        height: 100%;
    }
}
.audience-svg {
    max-width: 95%;
    margin: auto;
    height: fit-content;
    margin-top: 5rem;
    max-height: 80vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 80);
    @media screen and (max-width: 890px) {
        display: none;
    }
    &-mob {
        display: none;
        @media screen and (max-width: 890px) {
            position: absolute;
            display: block !important;
            max-width: 100%;
            max-height: 100%;
            height: calc(100vh - 120px);
        }
    }
}
.person {
    opacity: 0;
    &.visible {
        opacity: 1;
        animation: appearance 1s ease-in-out;
    }
}
#root {
    background: #ebd8d1;
    height: 100%;
    @media screen and (max-width: 890px) {
        height: unset;
        min-height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        height: fit-content;
    }
}
.tags-svg {
    width: 100%;
    height: 100%;
    @media screen and (max-width: 890px) {
        display: none;
    }
    &-mob {
        display: none;
        @media screen and (max-width: 890px) {
            display: block !important;
            max-width: 76%;
            max-height: 82vh;
            height: calc(var(--vh, 1vh) * 82);
            height: auto;
            width: 100%;
            position: relative;
            top: -2rem;
            margin: auto;
        }
    }
}
.tag {
    transition: all 0.2s ease-in-out;
    position: relative;
    &.selected {
        filter: brightness(1.2);
        border: 4px #fff solid;
        transition: all 0.2s ease-in-out;
        circle {
            stroke: white;
            stroke-width: 2px;
            transition: all 0.2s ease-in-out;
        }
    }
    &s_container {
        max-width: 75%;
        margin: auto;
        height: calc(var(--vh, 1vh) * 80);
        max-height: 67vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        margin-top: -2rem;

        @media screen and (max-width: 890px) {
            max-width: 100%;
            max-height: 83vh;
            height: auto;
        }
    }
}
::-webkit-slider-thumb {
    -webkit-appearance: none!important;
    height: 59px !important;
    width: 59px !important;
    background: transparent !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    color: transparent!important;
    border-radius: 0%!important;
    background: url(../img/speaker.png) no-repeat center !important;
    background-size: contain !important;
    cursor: pointer;
    margin-top: -25px;
    @media screen and (max-width: 890px) {
        height: 49px !important;
        width: 49px !important;
        margin-top: -19px;
    }
}

.eye-contact {
    position: absolute;
    margin-top: 2.5rem;
    max-height: 80vh;
    height: calc(var(--vh, 1vh) * 80);
    .eye {
        width: 165px;
        height: 165px;
        background: url(../img/eye.png) no-repeat center;
        background-size: contain;
        position: absolute;
        cursor: pointer;
    }
    .section {
        transition: all 0.3s ease-in-out;
        backdrop-filter: grayscale(1);
        height: 100%;
        position: absolute;
        width: calc(100% / 3);
        top: 0;
        bottom: 0;
        margin: auto;
        &:nth-child(3) {
            left: calc(100% / 3 * 2);
        }
        &:nth-child(2) {
            left: calc(100% / 3);
        }

        &:not(:last-child) {
            border-right: 3px solid gray;
        }
        &.contacted {
            backdrop-filter: grayscale(0);
            transition: all 0.3s ease-in-out;
            border: none;
        }
    }
}
.main-content {
    position: relative;
    width: 90%;
    max-width: 1440px;
    max-height: calc(100vh - 100px);
    height: calc((var(--vh, 1vh) * 100) - 100px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
        max-width: 100%;
        max-height: unset;
        width: 100%;
        min-height: 100%;
    }
    @media screen and (max-width: 890px) {
        width: 100%;
        min-height: 100%;
        height: auto;
    }
    &.start-level {
        background: url(../img/startScreen.jpg) no-repeat top;
        background-size: 100% 100%;
        @media screen and (max-width: 890px) {
            background: url(../img/startScreen-mob.jpg);
            background-size: 100% 100%;
            overflow: hidden;
            margin-bottom: -15px;
        }
    }
    &:not(.start-level) {
        &::after {
            content: "";
            position: absolute;
            top: 2rem;
            left: 2rem;
            display: block;
            width: 9rem;
            height: 4rem;
            background: url(../img/logo.svg) no-repeat center;
            background-size: contain;
        }
        &.eye-container {
            &::after {
                top: 1rem;
                left: 1rem;
                display: block;
                width: 7rem;
                height: 2rem;
            }
        }
    }

    .sound-level {
        background: linear-gradient(0deg, #bb95f1, #bb95f1), #a4f375;
        padding: 4rem 2rem;
        border-radius: 25px;
        width: 100%;
        max-width: 990px;
        margin: 2rem auto 0;
        position: relative;
        @media screen and (max-width: 490px) {
            padding: 1.5rem 1rem;
            border-radius: 15px;
        }
        input[type="range"] {
            width: 100%;
            max-width: 758px;
            margin: auto;
            -webkit-appearance: none;
            position: relative;
            height: 19px;
            border-radius: 1rem;
            display: block;
            margin: auto;
            background: transparent;
            position: relative;
            z-index: 10;
            @media screen and (max-width: 1200px) {
                max-width: 68%;
            }
            @media screen and (max-width: 890px) {
                height: 12px;
            }
            @media screen and (max-width: 490px) {
                max-width: 100%;
            }
            & + label {
                position: absolute;
                max-width: 758px;
                width: 100%;
                height: 40px;
                display: block;
                left: 0;
                right: 0;
                margin: auto;
                top: 0;
                bottom: 0;
                user-select: none;
                touch-action: none;
                z-index: 4;
                @media screen and (max-width: 1200px) {
                    max-width: 68%;
                }
                &::before,
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 31px;
                    height: 30px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: -55px;
                    background: url(../img/minus.png) no-repeat center;
                    background-size: contain;
                    @media screen and (max-width: 890px) {
                        width: 2rem;
                        height: 1.5rem;
                        left: -2rem;
                    }
                    @media screen and (max-width: 490px) {
                        display: none;
                    }
                }
                &::after {
                    left: auto;
                    background: url(../img/plus.png) no-repeat center;
                    background-size: contain;
                    height: 60px;
                    width: 50px;
                    right: -65px;
                    @media screen and (max-width: 890px) {
                        width: 2.5rem;
                        height: 2.5rem;
                        right: -2.25rem;
                    }
                }
            }
            &:focus {
                outline: none;
            }
            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                width: 300px;
                height: 19px;
                background: #ddd;
                border: none;
                border-radius: 1rem;
                @media screen and (max-width: 890px) {
                    height: 12px;
                }
            }
        }

        @media screen and (max-width: 1200px) {
            max-width: 68%;
            padding: 3rem 2rem;
        }
        @media screen and (max-width: 890px) {
            max-width: 90%;
            padding: 2.5rem 2rem;
        }
    }
}
.interactive {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 150px;
    right: 0;
    margin: auto;
    width: 100%;
    height: calc(100vh - 50px);
    height: calc((var(--vh, 1vh) * 100) - 50px);
    backdrop-filter: blur(4px);
    animation: appearance 0.3s ease-in;
    @media screen and (max-width: 890px) {
        width: 100%;
        min-height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        height: fit-content;
        position: static;
    }
}
.anser_inner {
    max-width: 100%;
}
.karaoke-text {
    @media screen and (max-width: 890px) {
        line-height: 1.5 !important;
        font-size: 2.2rem;
        word-break: break-word;
    }
    @media screen and (max-width: 490px) {
        font-size: 1.5rem !important;
    }
    @media screen and (max-width: 400px) {
        font-size: 1.3rem !important;
        margin: 0 -1rem;
    }
    @media screen and (max-width: 335px) {
        font-size: 1.2rem !important;
    }
}
.renderer {
    position: absolute;
    right: 150px;
    top: 50px;
    font-size: 60px;
    @media screen and (max-width: 490px) {
        top: 2.5rem;
        right: 1rem;
        font-size: 2rem;
    }
}
.violet {
    background: linear-gradient(0deg, #bb95f1, #bb95f1), #81f0f6;
    padding: 1px 8px;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    margin: 0 4px;

    &.stricked {
        &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            transform: rotate(8deg);
            transform-origin: center;
            display: block;
            margin: auto;
            background-color: red;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    &:hover {
        filter: grayscale(0.8);
    }
}
button.block {
    background: linear-gradient(0deg, #bb95f1, #bb95f1), #81f0f6;
    color: #fff;
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    border-radius: 1.3rem;
    font-size: 2rem;
    position: relative;
    span {
        font-weight: 500;
    }
    &::before {
        content: "";
        width: 0%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background: #f28f99;
        border-radius: 1.3rem;
        transition: width 0.25s ease-in-out;
        @media screen and (max-height: 850px) {
            border-radius: 0.8rem;
        }
        @media screen and (max-width: 890px) {
            border-radius: 15px;
        }
    }
    &.tag-btn {
        position: absolute;
        bottom: 0;
        right: 12%;
        @media screen and (max-width: 890px) {
            right: 3rem;
            bottom: 2rem;
        }
    }
    &:disabled {
        filter: grayscale(1);
    }

    &:not(:disabled):hover {
        &::before {
            width: 100%;
            left: auto;
            transition: width 0.25s ease-in-out;
            right: 0;
        }
    }
    &:active {
        &::before {
            background: linear-gradient(0deg, #6aa2e6, #6aa2e6), #81f0f6;
            width: 100%;
            @media screen and (max-height: 850px) {
                border-radius: 0.8rem;
            }
            @media screen and (max-width: 890px) {
                border-radius: 15px;
            }
        }
    }
    @media screen and (max-height: 850px) {
        padding: 1.2rem 3.5rem;
        border-radius: 0.8rem;
        font-size: 1.5rem;
    }
    @media screen and (max-width: 890px) {
        padding: 1rem 2rem;
        width: 100%;
        min-width: 160px;
        width: fit-content;
        border-radius: 15px;
        margin: 2rem auto 0;
    }
    @media screen and (max-width: 480px) {
        font-size: 1.3rem;
        min-width: 130px;
    }
}

$mainBg: linear-gradient(27.68deg, #ffc500 -37.23%, #f28f99 104.74%), #a4f375;
.question_block {
    background: $mainBg;
    color: #fff;
    text-align: center;
    user-select: none;
    border-radius: 1.8rem;
    max-width: 85%;

    p {
        line-height: 1.5;
        font-size: 1.8rem;
        @media screen and (max-width: 890px) {
            font-size: 1.5rem;
        }
        @media screen and (max-width: 490px) {
            font-size: 1.3rem;
        }
    }
    @media screen and (max-height: 1008px) {
        font-size: 1.5rem;
        max-width: 68%;
    }
    @media screen and (max-width: 890px) {
        max-width: 90%;
    }
}
.answers {
    user-select: none;
    @media screen and (max-width: 890px) {
        margin: auto;
        align-items: center;
        justify-content: center;
    }
}
.audience-container {
    max-width: 1220px;
    margin: auto;
    width: 100%;
    padding-bottom: 63%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    @media screen and (max-width: 890px) {
        width: 100%;
    }
    .audience-inner {
        position: absolute;
        background-size: cover !important;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 0;
        padding-bottom: 71.1%;
        bottom: 0;
        margin: auto;
    }
}

.start-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    padding: 9rem 6rem 8rem;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 5rem;
        left: 4rem;
        display: block;
        width: 10rem;
        height: 5rem;
        background: url(../img/logo.svg) no-repeat center;
        background-size: contain;
        @media screen and (max-width: 890px) {
            top: 2.5rem;
            left: 3rem;
        }
    }
    @media screen and (max-width: 1200px) {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 890px) {
        display: flex;
        flex-direction: column-reverse;
        max-height: auto;
        min-height: 100vh;
        padding: 9rem 3.25rem 0;
        .chel {
            align-self: flex-start;
        }
    }
    .chel {
        background: url(../img/chel.png) no-repeat center;
        background-size: contain;
        width: 33vw;
        max-width: 90%;
        height: 500px;
        max-height: 53vh;
        max-height: calc(var(--vh, 1vh) * 53);
        & + div {
            height: fit-content;
            max-width: 100%;
        }
        @media screen and (max-width: 1200px) {
            height: 420px;
        }
        @media screen and (max-width: 1050px) {
            height: 350px;
            position: relative;
            top: 1rem;
        }
        @media screen and (max-width: 480px) {
            width: 79%;
            height: 329px;
            left: -2rem;
            max-width: unset;
            max-height: unset;
        }
    }
    > div {
        align-self: center;
        color: #fff;
        font-size: 1.5rem;
    }
}
h2 {
    font-size: 55px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    @media screen and (max-height: 1008px) {
        font-size: 3rem;
    }
    @media screen and (max-width: 890px) {
        font-size: 2.3rem;
        text-align: center;
    }
    @media screen and (max-width: 480px) {
        font-size: 1.8rem;
    }
    @media screen and (max-width: 390px) {
        font-size: 1.6rem;
    }
    @media screen and (max-width: 340px) {
        font-size: 1.35rem;
    }
}
p {
    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
    font-weight: 350;
    @media screen and (max-height: 1008px) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: 890px) {
        text-align: center;
    }
    @media screen and (max-width: 480px) {
        font-size: 1.2rem;
    }
}
@keyframes appearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
